broadcast.xml

<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org/">
<wsdl:types>
<s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
<s:element name="CreateCampaign">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Xml" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="CreateCampaignResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="CreateCampaignResult" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="Xml" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ErrorStr" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="AutomationAuthHeader" type="tns:AutomationAuthHeader"/>
<s:complexType name="AutomationAuthHeader">
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
</s:sequence>
<s:anyAttribute/>
</s:complexType>
<s:element name="CreateCampaignAndReturnId">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Xml" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="CreateCampaignAndReturnIdResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="CreateCampaignAndReturnIdResult" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="Xml" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ErrorStr" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="campaignId" type="s:int"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="SetCampaignState">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="CampaignID" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="NewState" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="SetCampaignStateResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="SetCampaignStateResult" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="ErrorStr" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="ProcessUserData">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Xml" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="ProcessUserDataResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="ProcessUserDataResult" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="Xml" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ErrorStr" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetCampaignKpi">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="campaignId" type="s:int"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetCampaignKpiResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="GetCampaignKpiResult" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="campaignKpi" type="tns:CampaignKpi"/>
<s:element minOccurs="0" maxOccurs="1" name="errorStr" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="CampaignKpi">
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="TargetCount" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="SentCount" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="ViewCount" type="s:int"/>
<s:element minOccurs="1" maxOccurs="1" name="ClickCount" type="s:int"/>
</s:sequence>
</s:complexType>
</s:schema>
</wsdl:types>
<wsdl:message name="CreateCampaignSoapIn">
<wsdl:part name="parameters" element="tns:CreateCampaign"/>
</wsdl:message>
<wsdl:message name="CreateCampaignSoapOut">
<wsdl:part name="parameters" element="tns:CreateCampaignResponse"/>
</wsdl:message>
<wsdl:message name="CreateCampaignAutomationAuthHeader">
<wsdl:part name="AutomationAuthHeader" element="tns:AutomationAuthHeader"/>
</wsdl:message>
<wsdl:message name="CreateCampaignAndReturnIdSoapIn">
<wsdl:part name="parameters" element="tns:CreateCampaignAndReturnId"/>
</wsdl:message>
<wsdl:message name="CreateCampaignAndReturnIdSoapOut">
<wsdl:part name="parameters" element="tns:CreateCampaignAndReturnIdResponse"/>
</wsdl:message>
<wsdl:message name="CreateCampaignAndReturnIdAutomationAuthHeader">
<wsdl:part name="AutomationAuthHeader" element="tns:AutomationAuthHeader"/>
</wsdl:message>
<wsdl:message name="SetCampaignStateSoapIn">
<wsdl:part name="parameters" element="tns:SetCampaignState"/>
</wsdl:message>
<wsdl:message name="SetCampaignStateSoapOut">
<wsdl:part name="parameters" element="tns:SetCampaignStateResponse"/>
</wsdl:message>
<wsdl:message name="SetCampaignStateAutomationAuthHeader">
<wsdl:part name="AutomationAuthHeader" element="tns:AutomationAuthHeader"/>
</wsdl:message>
<wsdl:message name="ProcessUserDataSoapIn">
<wsdl:part name="parameters" element="tns:ProcessUserData"/>
</wsdl:message>
<wsdl:message name="ProcessUserDataSoapOut">
<wsdl:part name="parameters" element="tns:ProcessUserDataResponse"/>
</wsdl:message>
<wsdl:message name="ProcessUserDataAutomationAuthHeader">
<wsdl:part name="AutomationAuthHeader" element="tns:AutomationAuthHeader"/>
</wsdl:message>
<wsdl:message name="GetCampaignKpiSoapIn">
<wsdl:part name="parameters" element="tns:GetCampaignKpi"/>
</wsdl:message>
<wsdl:message name="GetCampaignKpiSoapOut">
<wsdl:part name="parameters" element="tns:GetCampaignKpiResponse"/>
</wsdl:message>
<wsdl:message name="GetCampaignKpiAutomationAuthHeader">
<wsdl:part name="AutomationAuthHeader" element="tns:AutomationAuthHeader"/>
</wsdl:message>
<wsdl:portType name="broadcastSoap">
<wsdl:operation name="CreateCampaign">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Creates a campaign from xml</wsdl:documentation>
<wsdl:input message="tns:CreateCampaignSoapIn"/>
<wsdl:output message="tns:CreateCampaignSoapOut"/>
</wsdl:operation>
<wsdl:operation name="CreateCampaign">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Creates a campaign from xml</wsdl:documentation>
<wsdl:input name="CreateCampaignAndReturnId" message="tns:CreateCampaignAndReturnIdSoapIn"/>
<wsdl:output name="CreateCampaignAndReturnId" message="tns:CreateCampaignAndReturnIdSoapOut"/>
</wsdl:operation>
<wsdl:operation name="SetCampaignState">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Changes the state for a campaign.</wsdl:documentation>
<wsdl:input message="tns:SetCampaignStateSoapIn"/>
<wsdl:output message="tns:SetCampaignStateSoapOut"/>
</wsdl:operation>
<wsdl:operation name="ProcessUserData">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Processes user data delivered in the form of Xml.</wsdl:documentation>
<wsdl:input message="tns:ProcessUserDataSoapIn"/>
<wsdl:output message="tns:ProcessUserDataSoapOut"/>
</wsdl:operation>
<wsdl:operation name="GetCampaignKpi">
<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the campaign kpi</wsdl:documentation>
<wsdl:input message="tns:GetCampaignKpiSoapIn"/>
<wsdl:output message="tns:GetCampaignKpiSoapOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="broadcastSoap" type="tns:broadcastSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="CreateCampaign">
<soap:operation soapAction="http://tempuri.org/CreateCampaign" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
<soap:header message="tns:CreateCampaignAutomationAuthHeader" part="AutomationAuthHeader" use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="CreateCampaign">
<soap:operation soapAction="http://tempuri.org/CreateCampaignAndReturnId" style="document"/>
<wsdl:input name="CreateCampaignAndReturnId">
<soap:body use="literal"/>
<soap:header message="tns:CreateCampaignAndReturnIdAutomationAuthHeader" part="AutomationAuthHeader" use="literal"/>
</wsdl:input>
<wsdl:output name="CreateCampaignAndReturnId">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="SetCampaignState">
<soap:operation soapAction="http://tempuri.org/SetCampaignState" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
<soap:header message="tns:SetCampaignStateAutomationAuthHeader" part="AutomationAuthHeader" use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ProcessUserData">
<soap:operation soapAction="http://tempuri.org/ProcessUserData" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
<soap:header message="tns:ProcessUserDataAutomationAuthHeader" part="AutomationAuthHeader" use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetCampaignKpi">
<soap:operation soapAction="http://tempuri.org/GetCampaignKpi" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
<soap:header message="tns:GetCampaignKpiAutomationAuthHeader" part="AutomationAuthHeader" use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="broadcastSoap12" type="tns:broadcastSoap">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="CreateCampaign">
<soap12:operation soapAction="http://tempuri.org/CreateCampaign" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
<soap12:header message="tns:CreateCampaignAutomationAuthHeader" part="AutomationAuthHeader" use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="CreateCampaign">
<soap12:operation soapAction="http://tempuri.org/CreateCampaignAndReturnId" style="document"/>
<wsdl:input name="CreateCampaignAndReturnId">
<soap12:body use="literal"/>
<soap12:header message="tns:CreateCampaignAndReturnIdAutomationAuthHeader" part="AutomationAuthHeader" use="literal"/>
</wsdl:input>
<wsdl:output name="CreateCampaignAndReturnId">
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="SetCampaignState">
<soap12:operation soapAction="http://tempuri.org/SetCampaignState" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
<soap12:header message="tns:SetCampaignStateAutomationAuthHeader" part="AutomationAuthHeader" use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ProcessUserData">
<soap12:operation soapAction="http://tempuri.org/ProcessUserData" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
<soap12:header message="tns:ProcessUserDataAutomationAuthHeader" part="AutomationAuthHeader" use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetCampaignKpi">
<soap12:operation soapAction="http://tempuri.org/GetCampaignKpi" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
<soap12:header message="tns:GetCampaignKpiAutomationAuthHeader" part="AutomationAuthHeader" use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="broadcast">
<wsdl:port name="broadcastSoap" binding="tns:broadcastSoap">
<soap:address location="http://avanci.emsecure.net/automation/Broadcast.asmx"/>
</wsdl:port>
<wsdl:port name="broadcastSoap12" binding="tns:broadcastSoap12">
<soap12:address location="http://avanci.emsecure.net/automation/Broadcast.asmx"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>